/* header */

.header-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    padding: 32px 0;
    position: sticky;
    left: 35;
    top: 0;
}
.burger{
    display: none;
    width: 40px;
    height: 40px;
    padding-top: 4px;
    border-radius: 40%;
    color: white;
    font-size: 30px;
    background-color: rgba(93, 80, 198, 1);
    text-align: center;
}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.logo-div p{
    font-size: 24px;
    font-weight: 900;
}
.nav-ul{
    display: flex;
    align-items: center;
    column-gap: 64px;
    font-size: 14px;
}
.nav-ul :first-child{
    font-weight: 900;
}
.sign-up{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.sign-up p{
    font-weight: 700;
}
.sign{
    width: 115px;
    height: 48px;
    border-radius: 100px;
    background-color: rgba(93, 80, 198, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



@media(max-width:1024px){
    nav{
        display: none;
    }
    .burger{
        display: block;
    }
    .burger2{
        display: none;
    }
}
@media(max-width:375px){
    .sign-up{
        display: none;
    }
    .burger{
        display: none;
    }
    .burger2{
        display: block;
    }
}


 /* section2 */
 .wraper{
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
 }
.left-wraper{
    width: 412px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 43px;
}
.small-span{
    color: rgba(248, 94, 159, 1);
}
.left-wraper h3{
    font-size: 69px;
    font-weight: 700;
}
.left-wraper p{
    font-size: 18px;
    color: rgba(25, 24, 37, 0.5);
}
.mini-wraper{
    display: flex;
    column-gap: 16px;
}
.get-started{
    background-color: rgba(93, 80, 198, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 141px;
    height: 49px;
    box-shadow: 1px 25px 20px rgb(117, 112, 112);
}
.fa-circle-play{
    color: rgba(93, 80, 198, 1);
    font-size: 24px;
}
.watch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 181px;
    height: 56px;
    column-gap: 8px;
    border: solid 1px rgba(238, 238, 238, 1);
    border-radius: 100px;
    background-color: white;
}
.wraper img{
    width: 100%;
}
.wraper-img{
    width: 100%;
}

@media(max-width:1024px){
    .wraper{
        flex-direction: column;
        text-align: center;
        row-gap: 64px;
    }
    .left-wraper{
        align-items: center;
    }
}
@media(max-width:375px){
    .mini-wraper{
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
        width: 100%;
    }
    .get-started{
        width: 100%;
    }
    .watch{
        width: 100%;
    }
}

/* section 2 */
.copywright{
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    padding: 64px 0;
    display: flex;
    column-gap: 36px;
    align-items: center;
    justify-content: center;
}

@media(max-width:1024px){
.copywright{
    flex-wrap: wrap;
    padding: 0 36px;
    row-gap: 25px;
}
}

/* section 3 */

.container{
    max-width:1184px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 64px 0;
    row-gap: 64px;
}
.container-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section3-txt{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.section3-txt h3{
    color: rgba(248, 94, 159, 1);
    font-size: 23px;
    font-weight: 700;
}
.section3-txt p{
    font-size: 43px;
    font-weight: 700;
}
.cursors{
    display: flex;
    column-gap: 32px;
}
.cursor-1{
    width: 100px;
    height: 100px;
    color: black;
    font-size: 50px;
    border: solid 1px rgba(25, 24, 37, 0.1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-2{
    width: 100px;
    height: 100px;
    background-color: rgba(93, 80, 198, 1);
    color: white;
    font-size: 50px;
    background-color: ;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-botom{
    display: flex;
    column-gap: 31px;
    justify-content: space-between;
}
.img-div{
    display: flex;
    flex-direction: column;
    max-width: 373.33px;
    width: 100%;
    row-gap: 32px;
    border-radius: 32px;
    background-color: white;
    box-shadow: 1px 20px 25px rgb(117, 112, 112);

}
.sec3-img{
    width: 100%;
}
.price{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.price h6{
    max-width: 228.33px;
    font-size: 23px;
    font-weight: 700;
}
.place{
    width: 90%;
    margin: 0 auto;
}
.price p{
    color: rgba(248, 94, 159, 1);
    font-weight: 700;
    font-size: 23px;
}
.star{
    color: rgba(255, 87, 34, 1);
    font-weight: 700;
    font-size: 23px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
}




@media(max-width:1024px){
    .container-top{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 64px;
    }
    .price{
        flex-direction: column-reverse;
        row-gap: 8px;
    }
}
@media(max-width:375px){
    .cursors{
        width: 100%;
        justify-content: space-between;
    }
    .cursor-1{
        width: 60px;
        height: 60px;
    }
    .cursor-2{
        width: 60px;
        height: 60px;
    }
    .container-botom{
        flex-direction: column;
        row-gap: 32px;
    }
}
/* section 4 */
.section4-div{
    max-width: 1312px;
    width: 90%;
    display: flex; 
    align-items: center; 
    padding: 64px 0;
}
.section4-img{
    max-width: 871px;
}
.section4-img img{
    width: 100%;
}
.sec4-right h3{
    font-size: 23px;
    font-weight: 700;
    color: rgba(248, 94, 159, 1);
}
.sec4-right h2{
    font-size: 44px;
    font-weight: 700;
    margin: 16px 0 32px 0;
}
.sec4-right p{
    font-size: 18px;
    color:rgba(25, 24, 37, 0.5);
}
.sec4-right{
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.mini-right{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.statics{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px ;
    border: solid 1px rgba(25, 24, 37, 0.1);
    border-radius: 32px;
}
.statics :first-child{
    font-weight: 700;
    font-size: 35px;
    color: rgba(255, 87, 34, 1);
    padding-bottom: 16px;
}
.statics :nth-child(2){
    font-size: 18px;
    color: rgba(25, 24, 37, 1);
    font-weight: 400;
}
@media(max-width:1024px){
    .section4-div{
        flex-direction: column;
        text-align: center;
    }
    
    .sec4-mini-info{
        padding-left: 25px;
    }
}
@media(max-width:375px){
    .mini-right{
        flex-direction: column;
    }
    .statics{
        width: 90%;
        margin: 0 auto;
    }
}

/* section 5 */
.section-5{
    max-width:1312px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.sec5-txt h3{
    color:rgba(248, 94, 159, 1);
    font-size: 23px;
    font-weight: 700;
}
.sec5-txt h2{
    color: rgba(25, 24, 37, 1);
    font-size: 44px;
    font-weight: 700;
    margin: 16px 0 32px 0;
}
.sec5-txt p{
    counter-reset: rgba(25, 24, 37, 0.5);
    font-size: 18px;
    font-weight: 400;
    max-width: 850px;
}
.offers{
    display: flex;
    flex-direction: column;
}
.icons{
    padding: 32px;
    display: flex;
    column-gap: 32px;
    align-items: center;
}
.location{
    background-color: rgba(255, 87, 34, 1);
    width: 100px;
    height: 100px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.icons-info h6{
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 8px;
}
.calendar{
    background-color: rgba(250, 205, 73, 1);
    width: 100px;
    height: 100px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.tkt{
    background-color:rgba(248, 94, 159, 1);
    width: 100px;
    height: 100px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}
@media(max-width:1024px){
    .sec5-txt{
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}
@media(max-width:375px){
    .icons{
        flex-direction: column;
        row-gap: 32px;
    }
}

/* footer */
.footer-main{
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 64px 0;
}
.footer-left{
    width: 560px;
    
}
.footer-copywright{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 32px;
}
.social{
    display: flex;
    column-gap: 32px;
    margin-top: 64px;
}
.social-icon{
    width: 32px;
    height: 32px;
    background-color: rgba(93, 80, 198, 1);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
